/*
http://colorschemedesigner.com/#0X329w0w0w0w0
*/

body {
background-image:url('../graphics/background.jpg');
background-repeat:repeat-x;
}

#main{
width:100%;
}

/* HEADER */
#header{
height:239px;
margin:0px;
padding:0px;
text-align:center;
}




/* NAVBAR */
#menu {
width:100%;
float:left;
overflow:hidden; position:absolute;
top:260px;
}

#menu ul {
margin:0;
padding:0;
float:left;
position:relative;
left:50%;
text-align:center;
}

#menu ul li {
display:inline;
font-family: 'Lucida Calligraphy',cursive;
font-size: 1.7em;
font-weight: bold;
}

.nav {
display:none;
width:60px;
height:60px;
background-color: #FFFFFF;
}

#menu ul li a{
float:left;
text-decoration: none;
color:#000000;
padding: 10.5px 50px;
position:relative;
right:50%;
z-index:10;
>>>>>>> scottofthescience/master
}

/* commenting out while I work on fade effect
#menu ul li a:hover{
background-color: #F2F2F2;
}
*/

#maincontent {
margin-top:100px;
margin-right:550px;
margin-left:20px;
border:1px solid #000;
background-color:#FFBF40;
padding:5px;
border-radius: 10px;
-moz-border-radius:10px;
box-shadow: 5px 5px 5px #888;
}
#maincontent p{

}
#mainpic {
position:relative;
top:-190px;
width:500px;
margin:0px 10px 10px 10px;
float:right;
}

/* about the baker */
#aboutbakermain {
    color:#000000;
    width:600px;
    margin:auto;
    position:relative;
    top:420px;
    padding: 0 0 50px 0;
}


/* cupcakes page */
#browseform {
    width:300px;
    position:relative;
    top:400px;
    color:#000000;
}


/* login page */
#login {
    position:relative;
    top:400px;
    left:50px;
    width:300px;
}
#signup {
    position:relative;
    top:400px;
    left:50px;
    width:300px;
}
#new_user_form {
    position:relative;
    top:150px;
    left:400px;
}

#footer {
position:relative;
left:50%;
margin: 300px 10px 10px -300px;
width:600px;
background-color:#FFBF40;
text-align:center;
border:1px solid #000;
border-radius: 10px;
-moz-border-radius:10px;
box-shadow: 5px 5px 5px #888;
}