/*
http://colorschemedesigner.com/#0X329w0w0w0w0
*/

body {
background-image:url('../graphics/background.jpg');
background-repeat:repeat-x;
}

#main{
width:100%;
}

/* HEADER */
#header{
height:239px;
margin:0px;
padding:0px;
text-align:center;
}




/* NAVBAR */
#menu {
position:relative;
margin-left:-450px;
left:50%;
width:900px;
float:left;	 
position:absolute;
top:260px;
}

#menu div{
width:180px;
height:60px;
text-align:center;
}

.home {
position:absolute;
left:30px;
top:0px;
}

.cupcakes{
position:absolute;
top:0px;
left:210px;
}

.About_Us{
position:absolute;
top:0px;
left:400px;
}

.Place_An_Order{
position:absolute;
top:0px;
left:580px;
}

.User_Login{
position:absolute;
top:0px;
left:760px;
}

#menu div img{
position:absolute;
top:0px;
left:0px;
opacity: 0;
}

#menu div p{
display:block;
position:absolute;
top:-13px;
left:0px;
width:180px;
height:60px;
font-family: 'Sunshiney', cursive;
font-size: 1.5em;
}

#menu div a{
text-decoration:none;
color: #000000;
}

#maincontent {
margin-top:100px;
margin-right:550px;
margin-left:20px;
border:1px solid #000;
background-color:#FFBF40;
font-family: 'Happy Monkey', cursive;
padding:5px;
border-radius: 10px;
-moz-border-radius:10px;
box-shadow: 5px 5px 5px #888;
}

#mainpic {
position:relative;
top:-130px;
width:500px;
margin:0px 10px 10px 10px;
float:right;
}

/* about the baker */
#aboutbakermain {
    color:#000000;
    width:600px;
    margin:auto;
    position:relative;
	top:60px;
    padding:0px 0px 60px 0px;
}


/* cupcakes page */
#browseform {
    width:300px;
    position:relative;
    color:#000000;
    padding:60px;
}


/* login page */
#login {
    position:relative;
    left:50px;
    width:300px;
    top:80px;
}
#signup {
    position:relative;
    left:50px;
    width:300px;
}
#new_user_form {
    position:relative;
    top:-160px;
    left:400px;
}


/* Admin page */
#adminbody{
    padding:60px;
}


/* Manage Account page */
#managebody{
    padding:60px;
}

/*place_an_order page */
#creator{
position:relative;
top:40px;
width:100%;
text-align:center;
}

#creator div{
margin:auto;
background-color:#FFBF40;
border-radius: 10px;
-moz-border-radius:10px;
box-shadow: 5px 5px 5px #888;
}

#display {
height:400px;
width:400px;
}

.form {
width:400px;
}

#footer {
position:relative;
left:50%;
margin: 300px 10px 10px -300px;
width:600px;
background-color:#FFBF40;
text-align:center;
border:1px solid #000;
border-radius: 10px;
-moz-border-radius:10px;
box-shadow: 5px 5px 5px #888;
}